<div class="layout default">
	<div class="content">
	
		<%= render partial: "ric_admin/shared/flash" %>
		
		<%= breadcrumbs style: :bootstrap if defined?(breadcrumbs) %>
		
		<% if (defined?(header)) %>
			<% if header != false %>
				<div class="page-header"><h2><%= header %></h2></div>
			<% else %>
				<!-- No header -->
			<% end %>
		<% else %>
			<div class="page-header"><h1><%= t("headers.#{controller_path.gsub('/', '.')}.#{action_name}") %></h1></div>
		<% end %>

		<% if lookup_context.find_all("#{controller_path}/_filters").any? %>
			<% partial = render(partial: "#{controller_path}/filters") %>
			<% if !partial.trim(" \t\n").blank? || (defined?(enforce_filters) && enforce_filters == true) %>
				<div class="filters panel panel-default"><div class="panel-body">
					<!--<h3><%= t("headers.filters") %></h3>-->
					<%= partial %>
				</div></div>
			<% end %>
		<% end %>

		<%= yield %>

	</div>
</div>