<%= rug_form_for(RicContact.contact_message_model.new, url: ric_contact_public.contact_messages_path, html: { class: "contact-message-create" }) do |f| %>
	<div class="flash-canvas"></div>
	<%= f.text_input_row :name %>
	<%= f.text_input_row :email, :email_field %>
	<%= f.text_area_row :message %>
	<%= f.primary_button_row :submit, label: t("headers.ric_contact.public_contact_messages.create") %>
<% end %>