<% if @calendars %>
	<ul class="actions-list">
		<% @calendars.each do |calendar| %>
			<li style="background: <%= calendar.color_primary %>; color: <%= calendar.color_text %>;">
				<div>
					<label style="margin: 0;">
						<input type="checkbox" data-calendar-id="<%= calendar.id %>" class="enable-calendar">
						<%= calendar.name %>
					</label>

					<div class="float-right">
						<%= rug_button(rug_icon("pencil"), ric_calendar.edit_calendar_path(calendar), style: "primary", size: "xs") %>
						<%= rug_button(rug_icon("trash"), ric_calendar.calendar_path(calendar), method: "delete", style: "danger", size: "xs") %>
					</div>
				</div>
			</li>
		<% end %>
	</ul>

	<script type="text/javascript">
		$(document).ready(function() {
			$("")

		});
	</script>
<% end %>