<div class="btn-group <%= align ? "navbar-" + align.to_s : "" %>">
	<% if user_signed_in? %>
		<button onclick="window.location='<%= ric_auth.edit_profile_path %>'" type="button" class="btn btn-link navbar-btn">
			<%= rug_icon("user") %>
		</button>
		<button type="button" class="btn btn-link navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= rug_icon("caret-down") %>
		</button>
		<ul class="dropdown-menu">
			<%= render partial: "ric_auth/shared/profile/menu" %>
			<% if real_current_user.respond_to?(:can_override_user) && real_current_user.can_override_user == true %>
				<li role="separator" class="divider"></li>
				<%= render partial: "ric_auth/shared/override/menu_user" %>
			<% end %>
			<% if current_user.respond_to?(:can_override_role) && current_user.can_override_role == true %>
				<li role="separator" class="divider"></li>
				<%= render partial: "ric_auth/shared/override/menu_role" %>
			<% end %>
			<li role="separator" class="divider"></li>
			<%= render partial: "ric_auth/shared/session/menu_signed" %>
		</ul>
	<% else %>
		<button onclick="window.location='<%= ric_auth.new_session_path %>'" type="button" class="btn btn-link navbar-btn">
			<%= rug_icon("sign-in") %>
		</button>
		<button type="button" class="btn btn-link navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<%= render partial: "ric_auth/shared/session/menu_not_signed" %>
		</ul>
	<% end %>
</div>
