<ul>
	<li><%= link_to "<i class=\"icon-list\"></i>".html_safe + t('general.action.index'), admin_newsletters_path, class: (params[:action] == 'index' ? 'disabled' : '') %></li>
	<li><%= link_to "<i class=\"icon-plus\"></i>".html_safe + t('general.action.new'), new_admin_newsletter_path, "data-no-turbolink" => true, class: (params[:action] == 'new' || params[:action] == 'create' ? 'disabled' : '') %></li>
	<% if params[:action] == 'show' %>
		<li><%= link_to "<i class=\"icon-pencil\"></i>".html_safe + t('general.action.edit'), edit_admin_newsletter_path(@newsletter), "data-no-turbolink" => true %></li>
		<li><%= link_to "<i class=\"icon-trash\"></i>".html_safe + t('general.action.destroy'), admin_newsletter_path(@newsletter), method: :delete, data: { confirm: t('general.are_you_sure', default: "Are you sure?") } %></li>
	<% end %>
	<% if params[:action] == 'edit' || params[:action] == 'update' %>
		<li><%= link_to "<i class=\"icon-search\"></i>".html_safe + t('general.action.show'), admin_newsletter_path(@newsletter) %></li>
	<% end %>
</ul>