<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<section class="tabs pill">
		<ul class="tab-nav">
			<li class="active"><a href="#"><%= t("headers.ric_newsletter.admin_newsletters.content") %></a></li>
			<li><a href="#"><%= t("headers.ric_newsletter.admin_newsletters.sent_newsletters") %></a></li>
		</ul>
		<div class="tab-content active">
			<%= rug_show_table_for(@newsletter, {
				created_at: :datetime,
				subject: :string,
				content: { type: :text, truncate: false },
			}) %>
		</div>
		<div class="tab-content">
			<%= rug_index_table_for(@newsletter.sent_newsletters.order(created_at: :desc), { 
				created_at: :datetime,
				sent_at: :datetime,
				done: :string,
			}, actions: {
				resend: { path: :resend_sent_newsletter_path, label: t('general.action.resend'), icon: "mail" }
			}, paths: {
				destroy: :sent_newsletter_path
			}, summary: true ) %>
		</div>
	</section>
<% end %>