<h1><%= @gallery_directory.name %></h1>

<div class="gallery pictures">
	<% @gallery_directory.gallery_pictures.order(position: :asc).each do |gallery_picture| %>
		<% if gallery_picture.picture.exists? %>
			<a class="fancybox" rel="gallery_images" href="<%= gallery_picture.picture.url(:full) %>">
				<img src="<%= gallery_picture.picture.url(:thumb) %>">
				<span><%= gallery_picture.title %></span>
			</a>
		<% end %>
	<% end %>
</div>

<div class="">
	<%= link_to t("general.back"), (@gallery_directory.parent_id.nil? ? ric_gallery_public.directories_path : ric_gallery_public.directory_path(@gallery_directory.parent)) %>
</div>

<% if @gallery_directory.children.count > 0 %>

	<div class="gallery directories">
		<% @gallery_directory.children.order(lft: :asc).each do |gallery_directory| %>
			<%= link_to ric_gallery_public.directory_path(gallery_directory) do %>
				<% if gallery_directory.picture.exists? %>
					<img src="<%= gallery_directory.picture.url(:thumb) %>">
				<% end %>
				<span><%= gallery_directory.name %></span>
			<% end %>
		<% end %>
	</div>
			
<% end %>