<div class="layout with_right_side">
	<div class="content">

		<%= render partial: "ric_admin/components/flash" %>
		<%= yield %>

	</div>
	<div class="side">
		
		<%= render partial: "ric_admin/components/login_info" %>

		<h2><%= t("headers.actions") %></h2>
		<%= render partial: "ric_devise/shared/actions" %>

	</div>
</div>