<% if action_name == "index" %>
	<%= rug_form_for(@filter_slug, url: ric_url.filter_slugs_path) do |f| %>
		<div class="form-inline">
			<%= f.text_input_row :locale, :text_field, label: false, placeholder: RicUrl.slug_model.human_attribute_name("locale") %>
			<%= f.text_input_row :original, :text_field, label: false, placeholder: RicUrl.slug_model.human_attribute_name("original") %>
			<%= f.text_input_row :translation, :text_field, label: false, placeholder: RicUrl.slug_model.human_attribute_name("translation") %>
			<% if RicUrl.use_filter == true %>
				<%= f.text_input_row :filter, :text_field, label: false, placeholder: RicUrl.slug_model.human_attribute_name("filter") %>
			<% end %>
			<%= f.primary_button_row :submit, label: t("helpers.submit.filter") %>
		</div>
	<% end %>
<% end %>
