<div class="layout default">
	<div class="content">

		<%= breadcrumbs %>
		
		<div class="clearfix">
			<%= render partial: "ric_admin/shared/flash" %>
			<%= render partial: "ric_admin/shared/login_info" %>
		</div>

		<h2><%= t("headers.#{controller_path.gsub('/', '.')}.#{action_name}") %></h2>
		
		<%= yield %>

	</div>
</div>