<div class="layout default">
	<div class="content">

		<%= breadcrumbs if defined? breadcrumbs %>
		
		<div class="clearfix">
			<%= render partial: "ric_admin/shared/flash" %>
			<%= render partial: "ric_admin/shared/login_info" %>
		</div>

		<% if !(defined? disable_header) || (disable_header != true) %>
			<h2><%= t("headers.#{controller_path.gsub('/', '.')}.#{action_name}") %></h2>
		<% end %>

		<%= yield %>

	</div>
</div>