<% controller_path = controller.class.name.to_snake[0..-12] %>

<div class="layout with_right_side">
	<div class="content">

		<%= breadcrumbs if defined?(breadcrumbs) %>

		<%= render partial: "ric_admin/shared/flash" %>
		
		<% if (defined?(header)) %>
			<% if header != false %>
				<h2><%= header %></h2>
			<% else %>
				<!-- No header -->
			<% end %>
		<% else %>
			<h2><%= t("headers.#{controller_path.gsub('/', '.')}.#{action_name}") %></h2>
		<% end %>

		<% if lookup_context.find_all("#{controller_path}/_filters").any? %>
			<% partial = render(partial: "#{controller_path}/filters") %>
			<% if !partial.trim(" \t\n").blank? || (defined?(enforce_filters) && enforce_filters == true) %>
				<div class="filters">
					<!--<h3><%= t("headers.filters") %></h3>-->
					<%= partial %>
				</div>
			<% end %>
		<% end %>

		<%= yield %>

	</div>
	<div class="side">
		
		<%= render partial: "ric_admin/shared/login_info" %>

		<% if lookup_context.find_all("#{controller_path}/_actions").any? %>
			<% partial = render(partial: "#{controller_path}/actions") %>
			<% if !strip_tags(partial).trim(" \t\n").blank? || (defined?(enforce_actions) && enforce_actions == true) %>
				<h2><%= t("headers.actions") %></h2>
				<%= partial %>
			<% end %>
		<% end %>

		<% if lookup_context.find_all("#{controller_path}/_related").any? %>
			<% partial = render(partial: "#{controller_path}/related") %>
			<% if !strip_tags(partial).trim(" \t\n").blank? || (defined?(enforce_related) && enforce_related == true) %>
				<h2><%= t("headers.related") %></h2>
				<%= partial %>
			<% end %>
		<% end %>

	</div>
</div>