<h1><%= @article.title %></h1>

<%= @article.perex.html_safe if @article.perex %>
<%= @article.content.html_safe if @article.content %>
<%= @article.authors %>
<%= @article.garantors %>

<p>
	<%= link_to t("general.back"), public_articles_path %>
</p>