<%= rug_form_for(@event,
	create_url: "ric_calendar.events_path",
	update_url: "ric_calendar.event_path"
) do |f| %>
	<%= f.hidden_field :scheduled_date_from %>

	<%= f.text_input_row :name %>
	<%= f.text_area_row :description %>
	<%= f.picker_row :calendar_id, RicCalendar.calendar_model.where(resource_type: RicCalendar.calendar_model.name), :id, :name %>

	<div class="form-group">
		<%= f.label_for :recurrence_rule %>
		<%= f.select_recurring :recurrence_rule, nil, { allow_blank: true }, { class: "form-control" } %>
	</div>

	<%= f.conditional_section :valid_if_recurrent, :recurrence_rule, "value !== 'null'" do %>
		<div class="row">
			<div class="col-sm-6">
				<%= f.date_picker_row :valid_from %>
			</div>
			<div class="col-sm-6">
				<%= f.date_picker_row :valid_to %>
			</div>
		</div>
	<% end %>

	<%= f.conditional_section :date_if_not_recurrent, :recurrence_rule, "value === 'null'" do %>
		<div class="row">
			<div class="col-sm-12">
				<%= f.date_picker_row :date_from %>
			</div>
		</div>
	<% end %>

	<%= f.conditional_section :time_if_not_all_day, :all_day, "value === false" do %>
		<div class="row">
			<div class="col-sm-6">
				<%= f.time_picker_row :time_from %>
			</div>

			<div class="col-sm-6">
				<%= f.time_picker_row :time_to %>
			</div>
		</div>
	<% end %>

	<%= f.checkbox_row :all_day %>

	<div class="form-group">
		<% if @event.new_record? || !@event.is_recurring? %>
			<%= f.primary_button_row :submit %>
		<% else %>
			<% if @event.scheduled_date_from.blank? %>
				<%= f.primary_button_row :submit %>
			<% else %>
				<%= f.button "Upravit pouze tuto událost", name: :update_action, value: "only_this", type: :submit, class: "btn btn-primary" %>
				<%= f.button "Upravit jen budoucí události", name: :update_action, value: "all_future", type: :submit, class: "btn btn-primary" %>
				<%= f.primary_button_row :submit, label: "Upravit všechny události" %>
			<% end %>
		<% end %>

		<%= f.back_link_button_row %>
	</div>

<% end %>
