<%= rug_show(@in_message) do |t| %>
	<%= t.body do |b| %>
		<%= b.datetime :created_at %>
		<%= b.belongs_to :sender, type: { label_attr: :name_formatted } %>
		<%= b.string :subject %>
	<% end %>
	<% if !@in_message.message.blank? %>
		<h3><%= RicInmail.in_message_model.human_attribute_name(:message) %></h3>
		<%= rug_format_text(@in_message.message, object: @in_message, column: :message, truncate: false, format: :text_box) %>
	<% end %>
<% end %>