<div class="partners">
	<% @partners_ticker.partners.each do |partner|%>
		<div class="item">
			<% if partner.url.blank? %>
				<%= image_tag(partner.logo.url(:full)) if partner.logo.exists? %>
				<% if @partners_ticker.config(:show_name) %>
					<%= partner.name %>
				<% end %>
			<% else %>
				<%= link_to partner.url do %>
					<%= image_tag(partner.logo.url(:full)) if partner.logo.exists? %>
					<% if @partners_ticker.config(:show_name) %>
						<%= partner.name %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>