<% client_name = "Klient" %>
<% client_year = 2015 %>

<% clockstar_name = "Clockstar s.r.o." %>
<% clockstar_year = 2012 %>

<ul class="copy">
	<li class="client">
		<%= image_tag(image_url("ric_admin/footer_logo_client.png")) %><br>
		<%= client_name %><br>
		&copy; <%= (Date.today.year.to_i == client_year ? client_year.to_s : "#{client_year.to_s}-#{Date.today.year}") %>
	</li>
	<li class="clockstar">
		<%= image_tag(image_url("ric_admin/footer_logo_clockstar.png")) %><br>
		<%= clockstar_name %><br>
		&copy; <%= (Date.today.year.to_i == clockstar_year ? clockstar_year.to_s : "#{clockstar_year.to_s}-#{Date.today.year}") %>
	</li>
</ul>