<%
	#
	# Draw month timetable table
	#
	# Params:
	#  - days                ... Array of day descriptors. Day descriptor is map with keys: 
	#                             - label ... Day label.
	#  - weeks               ... Array of week descriptors. Week descriptor is map with keys:
	#                             - label ... Week label.
	#                             - rows  ... Number of columns in the week.
	#                             - date  ... First day in week
	#  - items               ... Array of data items. Each item is map consisting of keys:
	#                             - week    ... Vertical item position.
	#                             - day     ... Horizontal item position.
	#                             - row     ... Vertical item position.
	#                             - label   ... Item label.
	#                             - tags    ... Tags interpreted as CSS classes.
	#                             - path    ... Path for item click.
	#                             - tooltip ... Optional tooltip.
	#  - item_path_callback  ... Path composer for items
	#  - empty_path_callback ... Path composer for empty spaces
	#
%>

<table class="month timetable">
	<tbody>
		
		<tr>
			<td class="header right-solid bottom-solid"></td>
			<% days.each do |day| %>
				<td class="header right-solid bottom-solid" colspan="1"><%= day[:label] %></td>
			<% end %>
		</tr>
		
		<% weeks.each_with_index do |week, week_idx| %>
			<% (0..(week[:rows]-1)).each do |row| %>
				
				<tr>
					<% if row == 0 %>
						<td class="header right-solid bottom-solid" rowspan="<%= week[:rows] %>"><%= week[:label] %></td>
					<% end %>
					<% date = week[:date] %>
					<% days.each_with_index.each do |day, day_idx| %>
						
						<% item = month_timetable_find_item(items, week_idx, day_idx, row) %>
						<% if !item.nil? %>
							<!-- Item -->
							<td class="item <%= item[:tags] %> <%= (!item[:tooltip].nil? ? "ttip" : "") %>" <%= (!item[:tooltip].nil? ? 'data-tooltip="' + item[:tooltip] + '"' : "").html_safe %> colspan="1">
								
								<% if row == 0 %>
									<div class="title"><%= date.strftime("%-d") + "." %></div>
								<% end %>

								<% if !item_path_callback.nil? %>
									<a href="<%= item_path_callback.call(item[:object]) %>"><%= item[:label] %></a>
								<% else %>
									<div class="padding"><%= item[:label] %></div>
								<% end %>

							</td>
						<% else %>
							<!-- Empty -->
							<td class="empty right-solid <%= (row == (week[:rows]-1) ? "bottom-solid" : "bottom-invisible") %>">
								<% if row == 0 %>
									<% if !empty_path_callback.nil? %>
										<a class="title" href="<%= empty_path_callback.call(date) %>"><%= date.strftime("%-d") + "." %><i class="icon-plus"></i></a>
									<% else %>
										<div class="title"><%= date.strftime("%-d") + "." %></div>
									<% end %>
								<% else %>
									<div class="padding"></div>
								<% end %>
							</td>
						<% end %>
						<% date = date + 1.day %>

					<% end %>
				</tr>
				
			<% end %>
		<% end %>

	</tbody>
</table>