<%
	#
	# Draw week timetable table
	#
	# Params:
	#  - hours        ... Array of hour descriptors. Hour descriptor is map with keys:
	#                      - hour ... Number of hour.
	#                      - cols ... Number of columns in the hour.
	#  - days         ... Array of day descriptors. Day descriptor is map with keys: 
	#                      - label ... Day label.
	#                      - rows  ... Number of rows is the day
	#  - items        ... Array of data items. Each item is map consisting of keys:
	#                      - day     ... Vertical item position.
	#                      - hour    ... Horizontal item position.
	#                      - row     ... Vertical item position.
	#                      - col     ... Horizontal item position.
	#                      - width   ... Number of elementary columns.
	#                      - label   ... Dat item label.
	#                      - tags    ... Tags interpreted as CSS classes.
	#                      - path    ... Path for item click.
	#                      - tooltip ... Optional tooltip.
	#
%>

<table class="week timetable">
	<tbody>
		
		<tr>
			<td class="header right-solid bottom-solid"></td>
			<% hours.each do |hour| %>
				<td class="header right-solid bottom-solid" colspan="<%= hour[:cols] %>"><%= hour[:hour] %></td>
			<% end %>
		</tr>
		
		<% days.each_with_index do |day, day_idx| %>
			<% (0..(day[:rows]-1)).each do |row| %>
				<% rest_item_width = 0 %>
				<tr>
					<% if row == 0 %>
						<td class="header right-solid bottom-solid" rowspan="<%= day[:rows] %>"><%= day[:label] %></td>
					<% end %>
					<% hours.each do |hour| %>
						<% (0..(hour[:cols]-1)).each do |col| %>
							
							<% if rest_item_width > 0 %>
								<!-- Nothing (replaced by item) -->
								<% rest_item_width -= 1 %>
							<% else %>
								<% item = week_timetable_find_item(items, day_idx, hour[:hour], row, col) %>
								<% if !item.nil? %>
									<!-- Item -->
									<td class="item <%= item[:tags] %> <%= (!item[:tooltip].nil? ? "ttip" : "") %>" <%= (!item[:tooltip].nil? ? 'data-tooltip="' + item[:tooltip] + '"' : "").html_safe %> colspan="<%= item[:width] %>">
										<% if !item[:path].nil? %>
											<a href="<%= item[:path] %>"><%= item[:label] %></a>
										<% else %>
											<div class="padding"><%= item[:label] %></div>
										<% end %>
									</td>
									<% rest_item_width = item[:width] - 1 %>
								<% else %>
									<!-- Empty -->
									<td class="<%= (col == (hour[:cols]-1) ? "right-solid" : "right-dotted") %> <%= (row == (day[:rows]-1) ? "bottom-solid" : "bottom-invisible") %>"></td>
								<% end %>

							<% end %>

						<% end %>
					<% end %>
				</tr>
			<% end %>
		<% end %>

	</tbody>
</table>