<%= rug_show(@notification_template) do |t| %>
	<%= t.body do |b| %>
		<%= b.enum :ref %>
		<%= b.string :subject %>
	<% end %>
	<% if !@notification_template.message.blank? %>
		<h3><%= RicNotification.notification_template_model.human_attribute_name(:message) %></h3>
		<%= rug_format_text(@notification_template.message, object: @notification_template, column: :message, truncate: false, format: :text_box) %>
	<% end %>
<% end %>
