<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<%= form_tag(settings_path, method: :put) do %>
		<section class="tabs pill">
			<ul class="tab-nav">
				<% @setting_categories.each_with_index do |(category, settings), index| %>
					<li class="<%= (index == 0 ? "active" : "") %>"><a href="#"><%= t("activerecord.attributes.ric_website/setting.category_values.#{category}") %></a></li>
				<% end %>
			</ul>
			<% @setting_categories.each_with_index do |(category, settings), index| %>
				<div class="tab-content <%= (index == 0 ? "active" : "") %>">
					<% settings.each do |setting| %>
						<div class="element">
							<%= label_tag "settings[#{setting.key}]", t("activerecord.attributes.ric_website/setting.key_values.#{setting.key}") %>
							<div class="field">
								<%= text_field_tag "settings[#{setting.key}]", setting.value, class: "text input" %>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</section>
		<div class="element"><div class="medium primary btn"><%= submit_tag t("helpers.submit.update") %></div></div>
	<% end %>
<% end %>