<%= rug_index(conversations, options.merge({ layout: :list })) do |t| %>

	<%= t.body do |b, conversation| %>

		<div class="mailbox-conversation">
			<%= link_to mailbox_conversation_path(conversation), class: (active_conversation == conversation ? "active" : "") do %>
				<%= conversation.subject %><br/>
				<%= conversation.recipients.map{ |u| u.email } %>
			<% end %>

			<br/>

			<%= rug_button(rug_icon(:edit), false, 
				modal: "edit_conversation_#{conversation.id}_modal") 
			%>
			<%= rug_modal "edit_conversation_#{conversation.id}_modal" do |m| %>
				<%= m.header t("headers.ric_mailboxer.conversations.new") %>
				<%= render partial: "ric_mailboxer/conversations/form", locals: {
					modal: m,
					conversation: RicMailboxer::Conversation.new(conversation)
				} %>
			<% end %>

			<%= rug_button(rug_icon(:destroy), trash_mailbox_conversation_path(conversation), 
				method: :delete 
			) %>

			<hr/>
		</div>

	<% end %>

	<%= t.footer do |f| %>
		<%= f.pagination %>
	<% end %>

<% end %>