<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<h3><%= t("activerecord.scopes.#{RicAdvert.banner_model.model_name.i18n_key}.sofar_invalid") %></h3>
	<%= rug_index_table_for(@sofar_invalid_banners, { 
		name: :string,
		advertiser: { type: :belongs_to, label: :name, path: "ric_advert_admin.advertiser_path" },
		kind: :string,
	}, paths: {
		show: "ric_advert_admin.banner_path",
		edit: "ric_advert_admin.edit_banner_path",
		destroy: "ric_advert_admin.banner_path"
	}, summary: true ) %>

	<h3><%= t("activerecord.scopes.#{RicAdvert.banner_model.model_name.i18n_key}.valid") %></h3>
	<%= rug_index_table_for(@valid_banners, { 
		name: :string,
		advertiser: { type: :belongs_to, label: :name, path: "ric_advert_admin.advertiser_path" },
		kind: :string,
	}, paths: {
		show: "ric_advert_admin.banner_path",
		edit: "ric_advert_admin.edit_banner_path",
		destroy: "ric_advert_admin.banner_path"
	}, summary: true ) %>

	<h3><%= t("activerecord.scopes.#{RicAdvert.banner_model.model_name.i18n_key}.already_invalid") %></h3>
	<%= rug_index_table_for(@already_invalid_banners.order(name: :asc), { 
		name: :string,
		advertiser: { type: :belongs_to, label: :name, path: "ric_advert_admin.advertiser_path" },
		kind: :string,
	}, paths: {
		show: "ric_advert_admin.banner_path",
		edit: "ric_advert_admin.edit_banner_path",
		destroy: "ric_advert_admin.banner_path"
	}, summary: true ) %>
<% end %>