<%= rug_tabs(RicAdvert.theme.tabs_options) do |t| %>
	<% t.tab :valid_banners, t("headers.ric_advert.admin_banners.valid_banners") do %>
		<%= rug_index(@valid_banners) do |t| %>
			<%= t.body do |b| %>
				<%= b.string :name, show: { path: "ric_advert_admin.banner_path" } %>
				<%= b.belongs_to :advertiser, type: { label_attr: :name, path: "ric_advert_admin.advertiser_path" } %>
				<%= b.enum :kind %>
				<%= b.action :edit, path: "ric_advert_admin.edit_banner_path" %>
				<%= b.action :destroy, path: "ric_advert_admin.banner_path" %>
			<% end %>
			<%= t.footer do |f| %>
				<%= f.summary %>
			<% end %>
		<% end %>
	<% end %>
	<% t.tab :invalid_banners, t("headers.ric_advert.admin_banners.invalid_banners") do %>
		<h3><%= t("headers.ric_advert.admin_banners.sofar_invalid_banners") %></h3>
		<%= rug_index(@sofar_invalid_banners) do |t| %>
			<%= t.body do |b| %>
				<%= b.string :name, show: { path: "ric_advert_admin.banner_path" } %>
				<%= b.belongs_to :advertiser, type: { label_attr: :name, path: "ric_advert_admin.advertiser_path" } %>
				<%= b.enum :kind %>
				<%= b.action :edit, path: "ric_advert_admin.edit_banner_path" %>
				<%= b.action :destroy, path: "ric_advert_admin.banner_path" %>
			<% end %>
			<%= t.footer do |f| %>
				<%= f.summary %>
			<% end %>
		<% end %>
		<h3><%= t("headers.ric_advert.admin_banners.already_invalid_banners") %></h3>
		<%= rug_index(@already_invalid_banners.order(name: :asc)) do |t| %>
			<%= t.body do |b| %>
				<%= b.string :name, show: { path: "ric_advert_admin.banner_path" } %>
				<%= b.belongs_to :advertiser, type: { label_attr: :name, path: "ric_advert_admin.advertiser_path" } %>
				<%= b.enum :kind %>
				<%= b.action :edit, path: "ric_advert_admin.edit_banner_path" %>
				<%= b.action :destroy, path: "ric_advert_admin.banner_path" %>
			<% end %>
			<%= t.footer do |f| %>
				<%= f.summary %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
