<h1>Nová složka</h1>

<%= form_for @document_folder, url: ric_calendar.document_folders_path do |f| %>
	<div class="form-group">
		<%= f.label "Nadřazená složka", for: :parent_id %>
		<%#= f.select :parent_id, options_from_collection_for_select(DocumentFolder.all, "id", "name"), { include_blank: "(není)" }, { class: "form-control" } %>
		<%= f.select :parent_id, nested_set_options(RicCalendar::DocumentFolder, @document_folder) {|i| "#{'-' * i.level} #{i.name}" }, { include_blank: "(není)" }, { class: "form-control" } %>
	</div>
	<div class="form-group">
		<%= f.label "Název složky", for: :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<%= f.submit "Vytvořit" %>
<% end %>