<%= render partial: "search_form" %>
<table>
	<thead>
		<th><%= RicCustomer.customer_model.human_attribute_name('full_name').capitalize %></th>
		<th><%= RicCustomer.customer_model.human_attribute_name('email').capitalize %></th>
		<th colspan="2"></th>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
				<td><%= customer.email %></td>
				<td class="action">
					<%= link_to "<i class=\"icon-pencil\"></i>".html_safe + t('general.action.edit'), edit_admin_customer_path(customer), "data-no-turbolink" => true %>
				</td>
				<td class="action">
					<%= link_to "<i class=\"icon-trash\"></i>".html_safe + t('general.action.destroy'), admin_customer_path(customer), method: :delete, data: { confirm: t('general.are_you_sure', default: "Are you sure?") } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @customers %>
<%= render partial: "links" %>