<% 
	client_year = @footer_copy.config(:client, :year).to_i
	developer_year = @footer_copy.config(:developer, :year).to_i
%>
<ul class="copy">
	<li class="client">
		<%= link_to image_tag(image_url(@footer_copy.config(:client, :image))), @footer_copy.config(:client, :url) %><br>
		<%= @footer_copy.config(:client, :name) %><br>
		&copy; <%= (Date.today.year.to_i == client_year ? client_year.to_s : "#{client_year.to_s}-#{Date.today.year}") %>
	</li>
	<li class="developer">
		<%= link_to image_tag(image_url(@footer_copy.config(:developer, :image))), @footer_copy.config(:developer, :url) %><br>
		<%= @footer_copy.config(:developer, :name) %><br>
		&copy; <%= (Date.today.year.to_i == developer_year ? developer_year.to_s : "#{developer_year.to_s}-#{Date.today.year}") %>
	</li>
</ul>