<%= rug_tabs(RicEshop.theme.tabs_options) do |t| %>
	<% t.tab :identification, t("headers.ric_eshop.admin_orders.identification") do %>
		<%= rug_show_table_for(@order, {
			created_at: :datetime,
			note: :text,
		}) %>
		<h3><%= t("headers.ric_eshop.admin_orders.payment") %></h3>
		<%= rug_show_table_for(@order, {
			price: :integer,
			currency: :enum,
			payment_type: :enum,
		}) %>
		<h3><%= t("headers.ric_eshop.admin_orders.delivery") %></h3>
		<%= rug_show_table_for(@order, {
			delivery_type: :enum
		}) %>
	<% end %>
	<% t.tab :customer, t("headers.ric_eshop.admin_orders.customer") do %>
		<%= rug_show_table_for(@order, {
			customer_name: :string,
			customer_email: :string,
			customer_phone: :string
		}) %>
		<h3><%= t("headers.ric_eshop.admin_orders.billing") %></h3>
		<%= rug_show_table_for(@order, {
			billing_name: :string,
			billing_address: :address
		}) %>
	<% end %>
	<% t.tab :products, t("headers.ric_eshop.admin_orders.products") do %>
		<% 
			columns = rug_columns 
			columns.add_column_by_block(:product_name) do |order_item|
				order_item.product_name + (order_item.sub_product_names ? " + " + order_item.sub_product_names.join(", ") : "")
			end
			columns.add_column_by_block(:product_price) do |order_item|
				number_to_currency(order_item.product_price + (order_item.sub_product_prices ? order_item.sub_product_prices.inject(0, :+) : 0), locale: :cs)
			end
			columns.add_column_by_type(:amount, :integer)
			columns.add_column_by_type(:price, :currency)
		%>
		<%= rug_index_table_for(@order.order_items.order(created_at: :asc), columns, summary: true ) %>
	<% end %>
<% end %>
