<%= rug_form_for(@document, 
	create_url: lambda { folder_documents_path(@document_folder) },
	update_url: lambda { |document| folder_document_path(@document_folder, document) },
) do |f| %>
	<div class="row">
		<div class="col-sm-7">
			<%= f.text_input_row :name %>
			<%= f.text_area_row :description %>
		</div>
		<div class="col-sm-5">
			<%= f.dropzone_row :attachment %>
		</div>
	</div>
	<%= f.primary_button_row :submit %>
	<%= f.back_link_button_row %>
<% end %>