<%= rug_form_for(@document, url: ric_dms.documents_path) do |f| %>
	<div class="form-group">
		<%= f.label "Nadřazená složka", for: :document_folder_id %>
		<%= f.select :document_folder_id, nested_set_options(RicDms::DocumentFolder, nil) {|i| "#{'-' * i.level} #{i.name}" }, { include_blank: "(není)" }, { class: "form-control" } %>
	</div>
	<%= f.text_input_row :attachment, :file_field %>
	<%= f.primary_button_row :submit, label: "Nahrát" %>
<% end %>