<h1>Nový soubor</h1>

<%= form_for @document, url: ric_dms.documents_path do |f| %>
	<div class="form-group">
		<%= f.label "Nadřazená složka", for: :document_folder_id %>
		<%= f.select :document_folder_id, nested_set_options(RicDms::DocumentFolder, nil) {|i| "#{'-' * i.level} #{i.name}" }, { include_blank: "(není)" }, { class: "form-control" } %>
	</div>

	<div class="form-group">
		<%= f.label "Soubor", for: :attachment %>
		<%= f.file_field :attachment %>
		<%= @document.errors[:attachment] %>
	</div>

	<%= f.submit "Nahrát" %>
<% end %>