<div class="gallery directories">
	<% @gallery_directories.each do |gallery_directory| %>
		<%= link_to ric_gallery_public.gallery_directory_path(gallery_directory) do %>
			<% if gallery_directory.picture.exists? %>
				<img src="<%= gallery_directory.picture.url(:thumb) %>">
			<% end %>
			<span><%= gallery_directory.name %></span>
		<% end %>
	<% end %>
</div>

<% if @gallery_pictures.count > 0 %>
			
	<div class="gallery pictures">
		<% @gallery_pictures.each do |gallery_picture| %>
			<% if gallery_picture.picture.exists? %>
				<a class="fancybox" rel="gallery_pictures" href="<%= gallery_picture.picture.url(:full) %>">
					<img src="<%= gallery_picture.picture.url(:thumb) %>">
					<span><%= gallery_picture.title %></span>
				</a>
			<% end %>
		<% end %>
	</div>

<% end %>