<%= rug_show_table_for(@notification, { 
	created_at: :datetime,
	subject: :string,
	kind: :enum,
	url: :string,
	sender_name_or_email: { type: :string, column_label: RicNotification.notification_model.human_attribute_name(:sender) },
	done: :string,
}) %>
<% if !@notification.message.blank? %>
	<h3><%= RicNotification.notification_model.human_attribute_name(:message) %></h3>
	<div class="text-box">
		<%= @notification.message.to_s.html_safe %>
	</div>
<% end %>
<%= rug_tabs(RicNotification.theme.tabs_options) do |t| %>
	<% @notification.notification_deliveries.order(id: :asc).each do |notification_delivery| %>
		<% t.tab notification_delivery.kind, notification_delivery.kind_obj.label do %>
			<%= rug_index_table_for(notification_delivery.notification_receivers.order(created_at: :desc).page(params[:page]).per(50), { 
				receiver_name_or_email: { type: :string, column_label: RicNotification.notification_receiver_model.human_attribute_name(:receiver) },
				state: :state,
				created_at: :datetime,
				sent_at: :datetime,
				received_at: :datetime,
			}, pagination: true) %>
		<% end %>
	<% end %>
<% end %>
