<table class="cart-items">
	<% @cart.cart_items.each do |cart_item| %>
		<tr class="product">
			<td class="name"><%= cart_item.product_name %></td>
			<td class="amount"><%= cart_item.amount %> ks</td>
			<td class="price"><%= number_to_currency(cart_item.price, locale: :cs) %></td>
			<td class="action"><%= link_to "<i class=\"icon-plus\"></i>".html_safe, ric_eshop_public.cart_add_path(product_id: cart_item.product_id, sub_product_ids: (cart_item.sub_product_ids ? cart_item.sub_product_ids.join(",") : nil)) %></td>
			<td class="action"><%= link_to "<i class=\"icon-cancel\"></i>".html_safe, ric_eshop_public.cart_remove_path(product_id: cart_item.product_id, sub_product_ids: (cart_item.sub_product_ids ? cart_item.sub_product_ids.join(",") : nil)) %></td>
		</tr>
		<% if cart_item.sub_product_ids %>
			<% cart_item.sub_product_ids.each_with_index do |sub_product, index| %>
				<tr class="sub-product">
					<td class="name" colspan="3"><%= cart_item.sub_product_names[index] %></td>
					<td colspan="2"></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
	<% @cart.virtual_items.each do |virtual_item| %>
		<tr class="product">
			<td class="name" colspan="2"><%= virtual_item.name %></td>
			<td class="price"><%= number_to_currency(virtual_item.price, locale: :cs) %></td>
			<td colspan="2"></td>
		</tr>
	<% end %>
	<tr class="total">
		<td colspan="2" class="">Celkem</td>
		<td colspan="3" class="price"><%= number_to_currency(@cart.final_price, locale: :cs) %></td>
	</tr>
</table>