<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= render_component @title %></title>
	<%= stylesheet_link_tag    RicAdmin.css_layout, media: 'all' %>
	<%= javascript_include_tag RicAdmin.js_layout %>
	<%= csrf_meta_tags %>
</head>
<body class="admin">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= render_component @header_logo %>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<%= render_component @header_menu %>
				<%= render partial: "ric_admin/shared/login_menu" %>
			</div>
		</div>
	</nav>

	<%= yield %>
	
	<div class="footer">
		<%= render_component @footer_menu %>
		<%= render_component @footer_copy %>
	</div>

</body>
</html>