<div class="branches_map">
	<div id="branches_map_canvas"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
var map;
	function branches_map_ready()
	{
		google.maps.event.addDomListener(window, 'load', function() {
			
			var latitude = 50.0596696; /* Prague */
			var longitude = 14.4656239;
			var zoom = 9;

			/* Map */
			var map_canvas = document.getElementById('branches_map_canvas');
			var map_position = new google.maps.LatLng(latitude, longitude);
			var map_options = {
				center: map_position,
				scrollwheel: false,
				zoom: zoom,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
			}
			map = new google.maps.Map(map_canvas, map_options);

			/* Markers */ /* TODO load dynamically by AJAX according to position */
			
			<% @branches_map.branches.each do |branch| %>
				<% if !branch.latitude.blank? && !branch.longitude.blank? %>
					var marker_<%= branch.id %> = new google.maps.Marker({
						position: new google.maps.LatLng(<%= branch.latitude %>, <%= branch.longitude %>),
						map: map,
						title: '<%= branch.name %>',
					});
					var info_<%= branch.id %> = new google.maps.InfoWindow({
						content: '<h3><%= branch.name %></h3><p><%= (!branch.address.blank? ? branch.address_formated : "") %></p>',
					});
					marker_<%= branch.id %>.addListener('click', function() {
						info_<%= branch.id %>.open(map, marker_<%= branch.id %>);
					});
				<% end %>
			<% end %>

			/* Geolocation */
			$.getJSON("http://www.telize.com/geoip", function (data) {
				map.setCenter(new google.maps.LatLng(data.latitude, data.longitude));
			});

		});
	}

	$(document).ready(branches_map_ready);
	$(document).on("page:load", branches_map_ready);
</script>