<%= rug_grid do |g| %>
	<%= g.row do |r| %>
		<%= r.col(6) do %>
			<h3 class="m-t-0"><%= RicNotification.notification_model.human_attribute_name(:info) %></h3>
			<%= rug_show(@notification) do |t| %>
				<%= t.body do |b| %>
					<%= b.datetime :created_at %>
					<%= b.string :subject %>
					<%= b.enum :kind %>
					<%= b.string :sender_name_or_email, label: RicNotification.notification_model.human_attribute_name(:sender) %>
					<%= b.string :done %>
				<% end %>
			<% end %>
		<% end %>
		<% if !@notification.message.blank? %>
			<%= r.col(6) do %>
				<h3 class="m-t-0"><%= RicNotification.notification_model.human_attribute_name(:message) %></h3>
				<%= rug_format_text(@notification.message, object: @notification, column: :message, truncate: false, format: :text_box) %>
			<% end %>	
		<% end %>
	<% end %>
<% end %>

<%= rug_tabs(RicNotification.theme.tabs_options) do |t| %>
	<% @notification.notification_deliveries.order(id: :asc).each do |notification_delivery| %>
		<% t.tab notification_delivery.kind, notification_delivery.kind_obj.label do %>
			<%= rug_index(notification_delivery.notification_receivers.order(created_at: :desc).page(params[:page]).per(50)) do |t| %>
				<%= t.body do |b| %>
					<%= b.string :receiver_name_or_email, label: RicNotification.notification_receiver_model.human_attribute_name(:receiver) %>
					<%= b.state :state %>
					<%= b.datetime :created_at %>
					<%= b.datetime :sent_at %>
					<%= b.datetime :received_at %>
				<% end %>
				<%= t.footer do |f| %>
					<%= f.pagination %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
