<h1>Nová událost</h1>

<%= bootstrap_form_for @calendar_event, url: ric_calendar.calendar_events_path do |f| %>
	<%= f.text_field :title %>
	<%= f.text_area :description %>

	<% if has_calendar_id? %>
		<%= f.collection_select :calendar_id, RicCalendar.calendar_model.all, :id, :title %>
	<% end %>

	<div class="row">
		<div class="col-sm-4">
			<%= f.date_field :start_date %>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<%= f.time_field :start_time %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<%= f.date_field :end_date %>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<%= f.time_field :end_time %>
			</div>
		</div>
	</div>

	<%= f.check_box :all_day %>

	<div class="form-group">
		<%= f.label I18n.t("activerecord.attributes.ric_calendar/calendar_event.recurrence_rule"), for: :recurrence_rule %>
		<%= f.select_recurring :recurrence_rule, nil, { allow_blank: true }, { class: "form-control"} %>
	</div>

	<%= f.submit "Vytvořit", class: "btn btn-primary" %>
<% end %>